<h3>All uploaded images:</h3>
<a href="/images/new">Submit a new image here</a>
<% @images.each do |img|%>
  <div>
    <%= image_tag(img.link,width:'400')  %>
    <p>Tags: 
      <%= img.tag_list %>
    </p>
  </div>
<% end %>
